@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit&display=swap');
:root{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(216, 15%, 48%);
--Dark-blue: hsl(218, 44%, 22%);
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Outfit", serif;
    font-size: 15px;

}

body {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-color:var(--Light-gray);
    text-align: center;
}

.countainer {
    width: 21rem;
    height: 32rem;
    background-color: var(--White);
    border-radius: 16px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.qr {
    width: 18rem;
    height: 18rem;
    border-radius: 8px; 
    margin: 16px 16px 16px 16px; 
}

.strong-text {
    font-size: 22px;
    font-weight: bold;
    margin: 0px 32px 0px 32px;
    color: var(--Dark-blue);
    
}

.sub-text {
    color: var(--Grayish-blue);
    font-size: 15px;
    font-weight: normal;
    margin: 0px 32px 0px 32px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 16px;  
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
